<div class="div1"> 
 
    <div class="listuser">
      <h3><b>USER LIST</b></h3>  
      <ol>
        <li *ngFor ="let element of users">
       <div>{{element.name}},{{element.statusMessage}}</div>
        </li>
      </ol>
    </div>
  
    <div class="chatbox">
      <h3><b>CHAT BOX</b></h3>  
          <ul>
            <li *ngFor="let element of chatMessages">
              <div class="rowChat">{{element.text}}, {{element.dateTime}}</div>
            </li>
          </ul>
    </div>
  
    <div>
      <input class="textinput" type=text [(ngModel)]="inputmessage">
    </div>
  
    <div >
      <button class="button" (click)="submit()"> Submit </button>
    </div>

</div>