<div class="div1">

  <div class="row">
    
    <div class="chatbox">
      <h3><b>CHAT BOX</b></h3>
      <ul>
        <li *ngFor="let element of chatMessages">
          <div class="rowChat">{{element.text}} --- {{element.dateTime}}</div>
        </li>
      </ul>
    </div>
<div>
 <mat-form-field appearance="fill" class="select_mitt">
    <mat-label>Seleziona il mittente</mat-label>
    <mat-select (selectionChange)="onChange($event)">
      <mat-option *ngFor="let element of users" [value]="element.idUser">{{element.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <section>
    <div >
     <button mat-raised-button color="primary" (click)="newUser()">NUOVO UTENTE</button>
    </div>
  </section>
</div>
   <!-- <div class="listuser">
    <mat-form-field appearance="fill">
        <mat-label>Scegli con chi parlare</mat-label>
        <mat-select (selectionChange)="onChange2($event)">
          <mat-option *ngFor="let element of users" [value]="element.idUser">{{element.name}}</mat-option>
        </mat-select>
    </mat-form-field> 
   </div>  -->
 
 <mat-action-list class="listuser" >
  <button mat-list-item *ngFor="let element of users" [value]="element.idUser" (click)="onChange2(element.idUser)"> {{element.name}} </button>
 </mat-action-list>


  </div>

  <div class="row">
    <div>
      <input class="textinput" type=text placeholder="Inizia a scrivere un messaggio" (keyup.enter)="submit()"
        [(ngModel)]="inputmessage">
    </div>

    <div class="button">
      <button mat-raised-button color="primary" (click)="submit()"> Submit </button>
    </div>
  </div>

</div>