<div class="div1"> 
 
    <div class="listuser">
      <h3>list user</h3>  
      <ol>
        <li *ngFor ="let User of Users">
        <!-- <div class "rowUser">{}{}</div>-->
        </li>
      </ol>
    </div>
  
    <div class="chatbox">
      <h3>chat box</h3>  
          <p>{{ chat }}</p>    
          <ul>
            <li *ngFor="let element of chatMessages">
              <div class="rowChat">{{element.text}}, {{element.date}}</div>
            </li>
          </ul>
    </div>
  
    <div class="textinput">
      <input [(ngModel)]="message"/>
    </div>
  
    <div class="button">
      <button (click)="submit()"> Submit </button>
    </div>
  
</div>